body {
	font-family: helvetica, arial, sans-serif;
    background-color: rgb(131, 204, 204);
}

h1 {
	color: #3a241d;
	text-align: center;
}

.container {
    /* background-color: rgb(131, 204, 204); */
	width: 35%;
	top: 0px;
	position: absolute;
	height: 100vh;
	padding: 10px;
}

#left-container {
	left: 0px;
    width: 40vw
}

#right-container {
    right: 0px;
    width: 55vw;
    /* padding-top: 165px; */
}

/* body {
    padding: 1em;
    font-family: sans-serif;
    overflow: hidden;
} */

.map {
    position: absolute;
    right: 0em;
    top: 0em;
    /* margin: 1em 0.5em; */
    /* padding: 1em 1.5em 1em; */
    border: 1px solid black;
    display: block;
    /* border-radius: 20px; */
    height: 100%;
    width: 100%;
}

/* #map1 {
    background-image: linear-gradient(60deg, white, cadetblue, black);
    visibility: visible;
}

#map2 {
    background-image: linear-gradient(60deg, white, lightcoral, black);
    visibility: hidden;
}

#map3 {
    background-image: linear-gradient(80deg, white, olive, black);
    visibility: hidden;
} */

#selection-menu {
  position: absolute;
  left: 10em;
  top: 10em;
  z-index: 6;
}